name: Build Windows

on:
  push:
    branches: [ "master", "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2

    - name: Download ViGEm headers
      shell: powershell
      run: |
        New-Item -ItemType Directory -Force -Path Source\ViGEm
        $url = "https://raw.githubusercontent.com/nefarius/ViGEmClient/master/include/ViGEm"
        Invoke-WebRequest "$url/Client.h" -OutFile "Source\ViGEm\Client.h"
        Invoke-WebRequest "$url/Common.h" -OutFile "Source\ViGEm\Common.h"
        Invoke-WebRequest "$url/Util.h" -OutFile "Source\ViGEm\Util.h"
        Invoke-WebRequest "$url/ViGEmClient.h" -OutFile "Source\ViGEm\ViGEmClient.h"

    - name: Build Solution
      run: msbuild Source/DS4Emulator.vcxproj /p:Configuration=Release /p:Platform=x64 /p:PlatformToolset=v143 /p:WindowsTargetPlatformVersion=10.0

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: DS4Emulator-XIM
        path: Source/x64/Release/*.exe
