name: Build DS4Emulator (Windows)

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v2

    # A CORREÇÃO ESTÁ NA LINHA ABAIXO:
    # Adicionamos /p:WindowsTargetPlatformVersion=10.0 para usar o SDK mais recente disponível
    - name: Build Solution
      run: msbuild Source/DS4Emulator.vcxproj /p:Configuration=Release /p:Platform=x64 /p:PlatformToolset=v143 /p:WindowsTargetPlatformVersion=10.0

    - name: List Build Directory
      run: dir Source\x64\Release

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: DS4Emulator-XIM-Version
        path: Source/x64/Release/*.exe
