Run msbuild Source/DS4Emulator.vcxproj /p:Configuration=Release /p:Platform=x64 /p:PlatformToolset=v143 /p:WindowsTargetPlatformVersion=10.0
  msbuild Source/DS4Emulator.vcxproj /p:Configuration=Release /p:Platform=x64 /p:PlatformToolset=v143 /p:WindowsTargetPlatformVersion=10.0
  shell: C:\Program Files\PowerShell\7\pwsh.EXE -command ". '{0}'"
  
MSBuild version 17.14.23+b0019275e for .NET Framework
Build started 1/21/2026 1:24:23 AM.
Project "D:\a\DualShock4-emulator\DualShock4-emulator\Source\DS4Emulator.vcxproj" on node 1 (default targets).
PrepareForBuild:
  Creating directory "DS4Emulator\x64\Release\".
  Structured output is enabled. The formatting of compiler diagnostics will reflect the error hierarchy. See https://aka.ms/cpp/structured-output for more details.
  Creating directory "D:\a\DualShock4-emulator\DualShock4-emulator\Source\x64\Release\".
  Creating directory "DS4Emulator\x64\Release\DS4Emulator.tlog\".
InitializeBuildStatus:
  Creating "DS4Emulator\x64\Release\DS4Emulator.tlog\unsuccessfulbuild" because "AlwaysCreate" was specified.
  Touching "DS4Emulator\x64\Release\DS4Emulator.tlog\unsuccessfulbuild".
ClCompile:
  C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Tools\MSVC\14.44.35207\bin\HostX86\x64\CL.exe /c /Zi /nologo /W3 /WX- /diagnostics:column /sdl /O2 /Oi /GL /D NDEBUG /D _CONSOLE /D _MBCS /Gm- /EHsc /MT /GS /Gy /fp:precise /Zc:wchar_t /Zc:forScope /Zc:inline /permissive- /Fo"DS4Emulator\x64\Release\\" /Fd"DS4Emulator\x64\Release\vc143.pdb" /external:W3 /Gd /TP /FC /errorReport:queue /std:c++latest DS4Emulator.cpp
  DS4Emulator.cpp
D:\a\DualShock4-emulator\DualShock4-emulator\Source\DS4Emulator.cpp(5,10): error C1083: Cannot open include file: 'ViGEm\Client.h': No such file or directory [D:\a\DualShock4-emulator\DualShock4-emulator\Source\DS4Emulator.vcxproj]
Done Building Project "D:\a\DualShock4-emulator\DualShock4-emulator\Source\DS4Emulator.vcxproj" (default targets) -- FAILED.
Build FAILED.
"D:\a\DualShock4-emulator\DualShock4-emulator\Source\DS4Emulator.vcxproj" (default target) (1) ->
(ClCompile target) -> 
  D:\a\DualShock4-emulator\DualShock4-emulator\Source\DS4Emulator.cpp(5,10): error C1083: Cannot open include file: 'ViGEm\Client.h': No such file or directory [D:\a\DualShock4-emulator\DualShock4-emulator\Source\DS4Emulator.vcxproj]
    0 Warning(s)
    1 Error(s)
Time Elapsed 00:00:16.84
Error: Process completed with exit code 1.
